# Passenger + Django
PassengerEnabled on
PassengerAppRoot /home/maverixt/public_html/serviuapp
PassengerBaseURI /serviuapp
PassengerAppType wsgi
PassengerStartupFile passenger_wsgi.py
PassengerPython /home/maverixt/virtualenv/public_html/serviuapp/3.11/bin/python

# Necesario para CSRF
RewriteEngine On
Header always set Access-Control-Allow-Credentials "true"
Header always set Access-Control-Allow-Headers "Content-Type, X-CSRFToken"
Header always append X-Frame-Options SAMEORIGIN

# ============================
# ?? SOLUCIÓN AL 404
# Redirige cualquier URL a Django dentro de /serviuapp
# ============================
RewriteCond %{REQUEST_URI} !^/serviuapp/
RewriteRule ^(.*)$ /serviuapp/$1 [L]
